meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title MWF Ltd - Customer Insights
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css", rel="stylesheet")
script(src="https://cdn.jsdelivr.net/npm/chart.js")
link(rel="stylesheet", href="/css/style.css")
header
  div
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/")
        img(
        src="/images/mwf.png" 
        alt="Company Logo" 
        width="80" 
        height="80"
      )
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ms-auto
          li.nav-item.active
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/login") sign in
          li.nav-item
            a.nav-link(href="/general") Customer
          li.nav-item
            a.nav-link(href="/dash") viewpoint
          li.nav-item
            a.nav-link(href="/Addsale") Sales
          li.nav-item
            a.nav-link(href="/suppliers") supply
//  Header 
.text-center.my-4
  h1 Mayondo Wood & Furniture Ltd
  p Customer Insights 
.container.my-5
  .row.g-4
    .col-md-4.mb-3
      a.text-decoration-none(href="/contact")
        .card.dashboard-card.shadow-sm.p-3
          h5 About us
          p#marketGrowth.fs-4.text-success Since 2009(Till this Year)
    //  Most Popular Product 
    .col-md-4.mb-3
      a.text-decoration-none(href="/products")
        .card.dashboard-card.shadow-sm.p-3
          h5 Most Popular Product Ever
          pre.fs-4.
            Dining Tables
            School Desks
            Chairs
            
            
                  
    //  Customer Base 
    .col-md-4.mb-3
      a.text-decoration-none(href="/general")
        .card.dashboard-card.shadow-sm.p-3
          h5 Customer Base
          p.fs-4 Construction Companies & Dealers
//  Footer 
footer.bg-custom.text-white.text-center.py-3.mt-5
  p.mb-0 © 2025 MWF Ltd. | All Rights Reserved

//  Bootstrap JS 
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
script(src="/js/general.js")