extends layout

block content
  #splash-card.card.text-white.position-relative
    img.card-img(src='images/mayondo.jpg' alt='Background')
    .card-img-overlay.d-flex.flex-column.justify-content-center
      h5.text-white It is Right Here
      h1 Mayondo Wood and Furniture (MWF) Ltd
      p BELIEVE IN THAT FIRST STEP
      p LET&apos;S MOVE TOGETHER

  a(href='/login')
    img.tap(src='/images/arrr.jpeg' alt='Arrow' width='30' height='20')

  // Link to Bootstrap JavaScript bundle (Popper included)
  script(src="/js/stable.js")
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')
