extends layout

block content
  #splash-card.card.text-white.position-relative
    img.card-img(src='images/mayondo.jpg' alt='Background')
    .card-img-overlay.d-flex.flex-column.justify-content-center
      h5.text-white A Web-Based Solution for Efficient Sales, Stock, and Operations Management
      h1 Mayondo Wood and Furniture (MWF) Ltd
      
      p Designed to digitize and automate MWF’s daily operations — from stock registration to sales tracking — enabling real-time reporting, data accuracy, and seamless workflow across departments.
      
        a.btn.btn-success.w-50(href='/login') Sign in to Continue
 

  // Link to Bootstrap JavaScript bundle (Popper included)
  script(src="/js/stable.js")
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')
