meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Document
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css", rel="stylesheet")
link(rel="stylesheet", href="/css/suppliers.css")
body.suppliers-page
header
  div
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/")
         img(src='/images/mwf.png' alt='Company Logo' width='80' height='80')
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ms-auto
          li.nav-item.active
            a.nav-link(href="/") Logout
          li.nav-item
            a.nav-link(href="/dash") viewpoint
          li.nav-item
            a.nav-link(href="/general") Customer
          li.nav-item
            a.nav-link(href="") 
          li.nav-item
            a.nav-link(href="") 
h3.text-dark.text-center.mt-3 Our suppliers
.row
  .col-sm-6
    .card
      .card-body
        h5.card-title Some of our suppliers
        pre.card-text.
                    Ben Latif-Mahogany Logs
                    Ssenyonjo Gideon-Mvule Logs
                    Puis Kojo-Eucatlyptus supplier
                    Pross Karungi(Pine Tree Project-PTP)-Pine suppliers 
                  
        
  .col-sm-6
    .card
      .card-body
        h5.card-title Find us via our lines
        pre.card-text.
                    email:MWFco.org
                    Whatsapp:0774327659
                    contact No.0753486427/0774389651
                    visit us on YouTube:Mayondo Wood and Furniture
                  
        
h4 NOTE THIS
p Our suppliers are paid promptly.For every two supplies a week earns you a 5% commission
img.img-fluid.mx-auto.d-block(src="/images/red-oak-logs-profile-460x295.jpg", alt="Red Oak Logs", style="width: 50%; margin-top: 20px;")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js")
footer
  footer.bg-dark.text-white.text-center.py-3
    p © 2025 MWF Ltd. All rights reserved.